{# 
#*********************************************************************************
#    ___         _     ___ _        _   _     
#   / __|___  __| |___/ __| |_ _  _| | (_)___ 
#  | (__/ _ \/ _` / -_)__ \  _| || | |_| / _ \
#   \___\___/\__,_\___|___/\__|\_, |_(_)_\___/
#                              |__/                                                         
#
#
# Originaly developed by students of Whitworth University -> http://www.whitworth.edu/cms/
# 
# Incepted and maintained by Will Czifro -> will@czifrotech.com
#
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY
# KIND, either express or implied.
#
#*********************************************************************************
#}

<head>
<link rel="stylesheet" href="css/directory.css" >
</head>
<body>
  <div>
    <!-- TODO: have directory be a whole path -->
    <h1>
    {%- if dir_path -%}
    {%- for name, path in dir_path -%}
      {%- if not loop.last -%}
        <a href={{ path | quote }}>{{ name | e }}/</a>
      {%- else -%}
        {{ name | e }}
      {%- endif -%}
    {%- endfor -%}
    {%- else -%}
      Index
    {%- endif -%}
    </h1>

    <table class="directory_contents">
    {% for item in contents %}
      <tr>
        <td>
          <a href={{ item.path | quote }}>{{ item.name | e }}</a>
        </td>
        <td>
        {% if item.is_directory %}
          {{ item.files }} files
        {% else %}
          {{ item.errors }} errors
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  <div>
</body>