/*
#*********************************************************************************
#    ___         _     ___ _        _   _     
#   / __|___  __| |___/ __| |_ _  _| | (_)___ 
#  | (__/ _ \/ _` / -_)__ \  _| || | |_| / _ \
#   \___\___/\__,_\___|___/\__|\_, |_(_)_\___/
#                              |__/                                                         
#
#
# Originaly developed by students of Whitworth University -> http://www.whitworth.edu/cms/
# 
# Incepted and maintained by Will Czifro -> will@czifrotech.com
#
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY
# KIND, either express or implied.
#
#*********************************************************************************
*/
body {
	font-family: monospace;
}

a {
	text-decoration: none
}

table, th, td {
	font-size: 1.2em;
	border: 1px solid #ddd;
	border-collapse: collapse;
}
td {
	padding: 0.3em;
	padding-right: 1em;
}

tr:nth-child(even) {
	background-color: #f6f6f6;
}