/*
#*********************************************************************************
#    ___         _     ___ _        _   _     
#   / __|___  __| |___/ __| |_ _  _| | (_)___ 
#  | (__/ _ \/ _` / -_)__ \  _| || | |_| / _ \
#   \___\___/\__,_\___|___/\__|\_, |_(_)_\___/
#                              |__/                                                         
#
#
# Originaly developed by students of Whitworth University -> http://www.whitworth.edu/cms/
# 
# Incepted and maintained by Will Czifro -> will@czifrotech.com
#
#
# This software is distributed on an "AS IS" basis, WITHOUT WARRANTY OF ANY
# KIND, either express or implied.
#
#*********************************************************************************
*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
.violation {
	border-bottom: 3px dashed red;
	display: inline-block;
	position: absolute;
	height: 1em;
}
.violation:hover .error {
    display:inline-block;
}
.error {
    display:none;
    color: red;
    background-color: #1f1f1f;
    border-radius: 0.5em;
    position: absolute;
    padding: 5px;
    top: -2.25em;
	height: 1.25em;
	cursor: pointer;
}
div.violation .error {
    display:none;
}
div.violation:hover .error {
    display: block;
    background-color: #E6E6E6;
    border: solid 1px #B3B3B3;
    position:absolute;
    top: -2.25em;
    padding: 5px;
    border-radius: 0.4em;
}
div.violation:hover .error, div.violation:hover .error span {
    color: red !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}